page-city {

  ion-label {
    color: white;
  }

  .tempMin {
    color: #b2b2b2;
  }

  .city {
    font-size: 30px;
  }

  .weather {
    font-size: 15px;
  }

  .temp {
    font-size: 100px;
  }

  .icon {
    height: 29px;
  }

  ion-grid {
    height: 100%;
  }

  .item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }

}
