page-city {

}

ion-content {
  background-image: url('../../assets/imgs/backgroung.jpg');
  -webkit-background-image: url('../../assets/imgs/backgroung.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

ion-grid {

}

ion-label {
  color: white;
}

.text-center {
  text-align: center;
}

.tempMin {
  color: #b2b2b2;
}

.city {
  font-size: 30px;
}
.weather {
  font-size: 15px;
}
.temp {
  font-size: 100px;
}


.icon {
  height: 29px;
}

ion-grid {
  height: 100%;
}

.item-trns {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
