<<<ion-header>
  <ion-navbar>
    <ion-title>
      MyWeatherApp
    </ion-title>
  </ion-navbar>
</ion-header>>>

<ion-content overflow-scroll="false">

  <ion-grid fixed *ngIf = "details">
    <ion-row style="height: 10%;">

    </ion-row>

    <ion-row style="height: 10%;">
      <ion-col >
        <ion-label class="city text-center">{{details.name}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="height: 5%;">
      <ion-col>
        <ion-label class="weather text-center">{{ details.weather[0].description }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="height: 25%;">
      <ion-col>
        <ion-label *ngIf = "roundedTemperature" class="temp text-center">{{roundedTemperature}}°</ion-label>
      </ion-col>
    </ion-row>

    <ion-row align-items-center style="height: 10%;">
      <ion-col>
        <hr width="90%" size="3" color="white">
      </ion-col>
    </ion-row>

    <!--<ion-row style="height: 50%; ">
      <ion-col>
        <ion-list no-lines *ngIf = "dailyWeatherList && dailyWeatherList.length>0">
          <ion-item class="item-trns" *ngFor="let day of dailyWeatherList">
            <ion-row>
              <ion-col col-5>
                <p>{{day.dayName}}</p>
              </ion-col>
              <ion-col col-3>
                <img [src]="day.icon" alt="icon">
              </ion-col>
              <ion-col col-2>
                <p class="tempMax text-center">{{day.tempMax}}</p>
              </ion-col>
              <ion-col col-2>
                <p class="tempMin text-center">{{day.tempMin}}</p>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->

    <ion-row style="height: 50%; ">
      <ion-col>
        <ion-list no-lines *ngIf = "dailyWeatherList && dailyWeatherList.length>0">
          <ion-item class="item-trns" *ngFor="let day of dailyWeatherList">
            <ion-label item-left>{{day.dayName}}</ion-label>
            <img item-left [src]="day.icon" alt="icon" class="icon">
            <ion-label item-right class="tempMax text-center">{{day.tempMax}}</ion-label>
            <ion-label item-right class="tempMin text-center">{{day.tempMin}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
