<<<ion-header>
  <ion-navbar>
    <ion-title>
      MyWeatherApp
    </ion-title>
  </ion-navbar>
</ion-header>>>


<ion-content >

  <ion-list *ngIf="cityList">
    <ion-item-group>
      <ion-item-divider><p>Ma position</p></ion-item-divider>
      <ion-item *ngIf="currentLocation">
        <ion-row align-items-center>
          <ion-col class="text-center" col-2>
            <p>{{currentLocation.temp}}°C</p>
          </ion-col>
          <ion-col class="text-center" col-3>
            <img [src]="currentLocation.icon" >
          </ion-col>
          <ion-col col-7>
            <p style="font-size: 110%;">{{currentLocation.name}}</p>
            <p>{{currentLocation.country}}</p>
          </ion-col>
        </ion-row>
        <ion-icon item-end name="information-circle" (click)="navToCityDetails($event,currentLocation)"></ion-icon>
      </ion-item>
    </ion-item-group>


    <ion-item-group>
      <ion-item-divider><p>Favoris</p></ion-item-divider>

      <ion-item *ngFor="let city of cityList">
        <ion-row align-items-center>
          <ion-col class="text-center" col-2>
            <p>{{city.temp}}°C</p>
          </ion-col>
          <ion-col class="text-center" col-3>
            <img [src]="city.icon" >
          </ion-col>
          <ion-col col-7>
            <p style="font-size: 110%;">{{city.name}}</p>
            <p>{{city.country}}</p>
          </ion-col>
        </ion-row>
        <ion-icon item-end name="information-circle" (click)="navToCityDetails($event,city)"></ion-icon>
      </ion-item>

    </ion-item-group>


  </ion-list>
</ion-content>
